@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.App {
  text-align: center;
  margin: 50px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row on large screens */
  gap: 30px;
  margin-bottom: 50px;
}

.product {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.price {
  margin: 10px 0;
  font-size: 18px;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 10px;
}

.button_link {
  background-color: #A46464;
  color: #5C0C34;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  font-family: 'Prata', serif;
  transition: all 0.3s ease;
  letter-spacing: 2px;
}

button {
  background-color: #A46464;
  color: #5C0C34;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #96565C;
}

/* Medium screens (Tablets and larger mobile devices) */
@media screen and (max-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  }

  .header h1 {
    font-size: 32px;
  }

  .product {
    padding: 15px;
  }
}

/* Small screens (Mobile devices) */
@media screen and (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
  }

  .header h1 {
    font-size: 28px;
  }

  .product {
    padding: 10px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Extra small screens (Very small mobile devices) */
@media screen and (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr; /* 1 item per row */
  }

  h2 {
    font-size: 16px;
  }

  .price {
    font-size: 16px;
  }

  .button_link {
    font-size: 20px;
    padding: 8px 12px;
  }

  button {
    font-size: 14px;
    padding: 6px 12px;
  }
}